@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
/* START: General styles */
.title{
  @apply bg-gray-400 p-2 font-semibold border border-black
}
.body{
  @apply p-2 border border-black
}
.group{
  /* @apply flex flex-col border border-black w-1/2 */
}
.section{
  @apply grid grid-cols-2 w-full
}